     <div class="row">
       <div class="col-md-12">
             <% flash.each do |key, value| %>
         <div class="text-center alert">
             <%= content_tag :div, value, class: "flash #{key}" %>
         </div>
<% end %>
    <%= yield %>
         
       </div>
        </div>